@import url('./reset.css');

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.page h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;
}

.page h1 strong {
  font-weight: 700;
}

.page h2 {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #000;  
}

.page p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

.logo + p {
  margin-top: 6px;
}

.links span,
.links a {
  display: inline-block;
  vertical-align: middle;
}

.links span {
  color: #999;
}

.links span::after {
  content: '·';
}

.links a {
  margin: 0 9px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.links a:hover {
  color: #000;
}

.page .copyinfo {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}

@media (max-width: 800px){
  .page {
    width: 80%;
  }
}
@media (min-width: 800px){
  .page {
    width: 50%;
  }
}

.header {
  padding: 15px;
}

.nav span,
.nav a {
  display: inline-block;
  vertical-align: middle;
}

.nav span {
  color: #999;
}

.nav span::after {
  content: '·';
}

.nav a {
  margin: 0 9px;
  color: #666;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.nav a:hover {
  color: #000;
}

.button{
  margin:30px 0;
  text-align: center;
  font-size: 18px;
  color:floralwhite;
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #D63369;
  border-radius: 25px;
  font-weight: 700;
  list-style: none;
}
.button:hover{
  background-color: #008181;
  cursor: pointer;
}

form .txt_field{
  position: relative;
  margin: 30px 0;
}
input{
  width: 100%;
  padding:0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #008181;
}
select{
  border-bottom: 2px solid #008181;
}
.signup_form {
  padding: 20px;
}

.check_box{
  width: 20px;
  padding:0 5px;
  height: 20px;
  font-size: 16px;
  margin-right: 5px;
}
.flex-parent{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
input[type=date]{
  width: 150px;
}
.flex-child{
  width: 100%;
  margin: 10px;
}
.user_box{
  text-align: center;
  padding: 30px 0px 30px 0px;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  list-style: none;
  margin-bottom: 20px;
  margin: 5px;
  background-color: #D63369;
  font-size: 18px;
  color:floralwhite;
}
.user_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 50%;
  margin: 0 10px 0 0;
}
.applications{
  display: flex;
}
.application_page{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: #008181;
  border-radius: 30px;
  padding-top: 30px;
}
.application_page p,ul {
  color:floralwhite;
  font-size: 18px;
  margin: 10px;
  list-style: none;
}
.competences_list{
  width: 80%;
}
.competence_box{
  margin: 10px;
}

.user_arrow{
  text-align: center;
  padding: 30px 0px 30px 0px;
  border-radius: 10px;
  width: 50%;
  list-style: none;
  margin-bottom: 20px;
  margin: 5px;
  background-color: #D63369;
  font-size: 18px;
  color:floralwhite;
}
.user_arrow_box{
  display: flex;
}

.user_arrow:hover,.user_box:hover{
  background-color: #008181;
  cursor: pointer;
}
.about_container{
  justify-content:center;
  text-align: center;
  flex-wrap:wrap;
  margin: 50px 0;
}
.about{
  text-align: center;
  justify-content: center;
  width: 50%;
  background-color: #008181;
  border-radius: 30px;
  margin: 0 auto;
}
.about li{
  list-style: none;
  padding: 30px;
  text-align: center;
  color:floralwhite;
  font-size: 18px;
}

.about a:visited, .about a  {
  font-size: 18px;
  color:floralwhite;
  text-decoration: none;
}

.about p {
  text-align: center;
  color:floralwhite;
  font-size: 18px;
  padding: 50px;
}
